.color-fade {
  background: linear-gradient(
    90deg,
    rgb(1, 26, 255) 0%,
    rgb(0, 255, 34) 50%,
    rgb(77, 4, 236) 100%
  );
  background-clip: text;
  color: transparent;
  animation: color-fade 13s linear infinite;
  background-size: 200% 200%;
}

.app-title {
  margin: 40px 0px 50px 0px;
}

@keyframes color-fade {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}
