#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

#start-scraper {
  background-color: #006600;
  color: #ffffff;
  cursor: pointer;
  margin: 10px;
}

#stop-scraper {
  background-color: #b30000;
  color: #fff;
  cursor: pointer;
  margin: 10px;
}

#restart-scraper {
  background-color: #0000b5;
  color: #fff;
  cursor: pointer;
  margin: 10px;
}

#force-start-once-scraper {
  background-color: #9d009d;
  color: #fff;
  cursor: pointer;
  margin: 10px;
}
