.scraper-controls-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.scraper-controls {
  display: flex;
  gap: 10px;
}

.start-scraper {
  background-color: #006600;
  color: #ffffff;
  padding: 0.6em;
  cursor: pointer;
}

.stop-scraper {
  background-color: #b30000;
  color: #fff;
  padding: 0.6em;
  cursor: pointer;
}

.force-start-once-scraper {
  background-color: #9d009d;
  color: #fff;
  padding: 0.6em;
  cursor: pointer;
}

.set-interval {
  background-color: #0066cc;
  color: #fff;
  padding: 0.6em;
  cursor: pointer;
}
