.scraper-controls-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.scraper-control-button {
  color: #fff;
  padding: 0em 0.6em;
  align-self: end;
  cursor: pointer;
  height: 2.5em;
}

.scraper-controls {
  display: flex;
  gap: 10px;
}

.start-scraper {
  background-color: #006600;
}

.stop-scraper {
  background-color: #b30000;
}

.force-start-once-scraper {
  background-color: #9d009d;
}

.set-interval {
  background-color: #0066cc;
}
